<form method="post" action="{{ path('drawn_delete', {'id': drawn.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ drawn.id) }}">
    <button class="btn">Delete</button>
</form>
